# Private folders
.*
*-workspace
refactor.md

# Outputs
notebooks/.ipynb_checkpoints
notebooks/output
notebooks/sandbox.ipynb
tools/output

# Datasets
datasets

# Docker folder
docker/convert_docker_to_singularity.sh
docker/gerumo2.tar
docker/gerumo2.sif
