astropy
ctaplot==0.5.6
fvcore
h5py
keras==2.6.0
matplotlib
omegaconf
pandas
pyarrow
pydot==1.4.1
pytest
scipy
seaborn
scikit-image
tables
tensorflow==2.6.0
tensorflow-probability==0.14.0
scikit-learn
tensorflow-addons
tqdm
xlrd